<div class="row">
  <div class="col-3">
    <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="col mb-8">
    <p>
      <input
        #query
        (keyup)="search(query.value)"
        type="text"
        class="form-control"
        placeholder="Search ..."
      />
    </p>
    <div class="grid grid-cols-2 gap-4" *ngIf="cart$ | async as cart">
      <ng-container *ngFor="let p of searchedProducts; let i = index">
        <product-card
          [product]="p"
          [show-actions]="true"
          [shopping-cart]="cart"
        ></product-card>
      </ng-container>
    </div>
  </div>
</div>
