<div class="card" *ngIf="product && product.title">
  <img
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    class="card-img-top"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <h2 class="card-title">{{ product.title }}</h2>
    <p class="card-text">
      {{ product.price | currency: "USD" }}
    </p>
  </div>
  <div class="card-footer gap-2" *ngIf="showActions && shoppingCart">
    <div
      class="d-grid gap-2"
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    >
      <button class="btn btn-primary" (click)="addToCart()">Add to Cart</button>
    </div>
    <ng-template #updateQuantity>
      <product-quantity
        [product]="product"
        [shopping-cart]="shoppingCart"
      ></product-quantity>
    </ng-template>
  </div>
</div>
