<div class="flex flex-wrap no-gutters" *ngIf="shoppingCart">
  <div class="w-1/5">
    <div class="d-grid gap-2">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="removeFromCart()">-</button>
    </div>
  </div>
  <div class="flex-grow text-center">
    {{ shoppingCart.getQuantity(product) }} in cart
  </div>
  <div class="w-1/5">
    <div class="d-grid gap-2">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" (click)="addToCart()">+</button>
    </div>
  </div>
</div>
