<form #f="ngForm" (ngSubmit)="placeOrder(f.value)">
  <div class="mb-3">
    <label for="name">Name</label>
    <input
      #name="ngModel"
      ngModel
      name="name"
      type="text"
      class="form-control"
      [class.is-invalid]="name.touched && name.invalid"
      [class.is-valid]="name.touched && !name.invalid"
      id="name"
      placeholder="name"
      required
    />
    <div class="invalid-feedback" *ngIf="name.touched && name.invalid">
      Name is required!
    </div>
  </div>
  <div class="mb-3">
    <label for="line1">Address</label>
    <input
      #line1="ngModel"
      ngModel
      name="line1"
      type="text"
      class="form-control"
      [class.is-invalid]="line1.touched && line1.invalid"
      [class.is-valid]="line1.touched && !line1.invalid"
      id="line1"
      placeholder="line1"
      required
    />
    <div class="invalid-feedback" *ngIf="line1.touched && line1.invalid">
      Address is required!
    </div>
  </div>
  <input
    #line2="ngModel"
    ngModel
    name="line2"
    type="text"
    class="form-control"
    [class.is-invalid]="line2.touched && line2.invalid"
    [class.is-valid]="line2.touched && !line2.invalid"
    id="line2"
    placeholder="line2"
    required
  />
  <div class="invalid-feedback" *ngIf="line2.touched && line2.invalid">
    Address is required!
  </div>
  <p></p>
  <div class="mb-3">
    <label for="city">City</label>
    <input
      #city="ngModel"
      ngModel
      name="city"
      type="text"
      class="form-control"
      [class.is-invalid]="city.touched && city.invalid"
      [class.is-valid]="city.touched && !city.invalid"
      id="city"
      placeholder="city"
      required
    />
    <div class="invalid-feedback" *ngIf="city.touched && city.invalid">
      City is required!
    </div>
  </div>
  <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
</form>
